<div class="row col-xs-12">
  <button class="btn btn-success" (click)="onNewStudent()">New Student</button>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Standard</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; let i = index;"
        [ngClass]="{'active': selectedIndex === i}"
        (click)="selectedIndex = i">
          <td>{{ student.name }}</td>
          <td>{{ student.address }}</td>
          <td>{{ student.std }}</td>
          <td>{{ student.status }}</td>
          <td><button [routerLink]='[i]'>View</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
