<div class="row">
  <div class="col-xs-12">
    <div class="btn-grp" appDropDown>
      <button class="btn btn-primary dropdown-toggle" >Manage <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditSchool()">Edit</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteSchool()">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img src="{{school.photo}}" alt="School Photo" class="img-responsive" style="height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{school.name}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{school.email}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{school.address}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{school.city}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{school.state}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{school.zipCode}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{school.country}}
  </div>
</div>





