<app-alert [message]="error" *ngIf="error" (close)="onHandleError()" ></app-alert>
<div class="row col-xs-12">
  <button class="btn btn-success" style="margin-bottom: 10px;" (click)="onNewSchool()">New School</button>
</div>
<div class="row">
  <div class="col-xs-12">
      <label for="entries">Entries</label>
      <select id="entries" [(ngModel)]="limit" name="entries" (ngModelChange)="change($event)">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="15">15</option>
      </select>
      <label for="search">Search:</label>
      <input type="text" id="search" [(ngModel)]="searchTerm" placeholder="Search..." (input)="search(searchTerm)">
      <div class="filter-bar">
        <form (ngSubmit)="filterOpts(filter)" #filter="ngForm">
          <label for="fieldName">Category:</label>
          <select id="fieldName" name="fieldName" [(ngModel)]="fieldName">
            <option value="">-</option>
            <option value="city">City</option>
          </select>
          <label for="fieldValue">Value:</label>
          <select
          id="fieldValue"
          name="fieldValue"
          ngModel
          [disabled]="!fieldName">
          <option value="">Select a city</option>
          <option *ngFor="let city of availableCities" [value]="city">{{ city }}</option>
        </select>
          <button type="submit">Filter</button>
        </form>
      </div>
    <table class="table">
      <thead>
        <tr>
          <th
          style="cursor: pointer;"
          (click)="sort('name')"
          [ngClass]="{'arrow-up': sortOrder === '-1', 'arrow-down': sortOrder === '1'}">Name</th>
          <th
          style="cursor: pointer;"
          (click)="sort('email')"
          [ngClass]="{'arrow-up': sortOrder === '-1', 'arrow-down': sortOrder === '1'}">Email</th>
          <th>Address</th>
          <th
          style="cursor: pointer;"
          (click)="sort('name')"
          [ngClass]="{'arrow-up': sortOrder === '-1', 'arrow-down': sortOrder === '1'}">City</th>
          <th >Details</th>
        </tr>
      </thead>
      <tbody *ngIf="schools.length > 0; else NoData">
        <tr *ngFor="let school of schools; let i = index"
        [ngClass]="{'active': selectedIndex === i}"
        (click)="selectedIndex = i">
          <td>{{ school.name }}</td>
          <td>{{ school.email }}</td>
          <td>{{ school.address }}</td>
          <td>{{ school.city }}</td>
          <td><button [routerLink]='[i]'>View</button></td>
        </tr>
      </tbody>
      <ng-template #NoData>
        <p>End Of Data!</p>
      </ng-template>
    </table>
    <div style="display: flex; justify-content: center;">
      <nav>
        <ul class="pagination">
          <li [ngClass]="{disabled: isFirstPage()}" class="page-item">
            <a (click)="decrease()" class="page-link" style="cursor: pointer;">Previous</a>
          </li>
          <li [ngClass]="{active: pageNumber === page}" class="page-item" *ngFor="let page of pages">
            <a >{{ page }}</a>
          </li>
          <li [ngClass]="{disabled: isLastPage()}" class="page-item">
            <a (click)="increase()" class="page-link" style="cursor: pointer;">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
