<div class="row col-xs-12">
  <button class="btn btn-success">New School</button>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let school of schools">
          <td>{{ school.name }}</td>
          <td>{{ school.email }}</td>
          <td>{{ school.address }}</td>
          <td>{{ school.city }}</td>
          <td><button (click)="showDetails(school)">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
