<div class="row">
  <div class="col-xs-12">
    <div class="btn-grp" appDropDown>
      <button class="btn btn-primary dropdown-toggle" >Manage <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditStudent()">Edit</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteStudent()">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img src="{{student.photo}}" alt="Student Photo" class="img-responsive" style="height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{student.name}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{student.parentNumber}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{student.address}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{student.std}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{student.photo}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{student.dob}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{student.status}}
  </div>
</div>

