<div  *ngIf="CountRes.length > 0; else NoStudents">
  <h3>School name: {{school.name}} </h3>
  <h3>Total students: {{school.count}} </h3>
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-xs-12">
          <table class="table">
            <thead>
              <tr>
                <th>Standard</th>
                <th>Student Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of CountRes; let i = index"
              [ngClass]="{'active': selectedIndex === i}"
              (click)="selectedIndex = i">
                <td>{{ item._id }}</td>
                <td>{{ item.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #NoStudents>
  <p>No Students found for the selected school! {{school.name}}</p>
</ng-template>
