<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!studentForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control">
            <div *ngIf="studentForm.get('name').touched && studentForm.get('name').invalid">
              <small class="text-danger" *ngIf="studentForm.get('name').errors.required">
                Name is required.
              </small>
              <small
                class="text-danger"
                *ngIf="studentForm.get('name').errors.pattern"
              >
                Name must not start or end with a space.
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="parentNumber">Parent Number</label>
            <input
            type="number"
            id="parentNumber"
            formControlName="parentNumber"
            class="form-control">
            <div *ngIf="studentForm.get('parentNumber').touched && studentForm.get('parentNumber').invalid">
              <small class="text-danger" *ngIf="studentForm.get('parentNumber').errors.required">
                Parent Number is required.
              </small>
              <small
                class="text-danger"
                *ngIf="studentForm.get('parentNumber').errors.pattern"
              >
                Please enter a valid number!
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Address</label>
            <input
            type="text"
            id="address"
            formControlName="address"
            class="form-control">
            <div *ngIf="studentForm.get('address').touched && studentForm.get('address').invalid">
              <small class="text-danger" *ngIf="studentForm.get('address').errors.required">
                Address is required.
              </small>
              <small
                class="text-danger"
                *ngIf="studentForm.get('address').errors.pattern"
              >
                Address must not start or end with a space.
              </small>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="std">Standard</label>
            <input
            type="number"
            id="std"
            formControlName="std"
            class="form-control">
            <div *ngIf="studentForm.get('std').touched && studentForm.get('std').invalid">
              <small class="text-danger" *ngIf="studentForm.get('std').errors.required">
                Standard is required.
              </small>
              <small
                class="text-danger"
                *ngIf="studentForm.get('std').errors.pattern"
              >
                Standard must not start or end with a space.
              </small>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="std">Standard</label>
            <select id="std" formControlName="std" class="form-control">
              <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="i">{{i}}</option>
            </select>
            <div *ngIf="studentForm.get('std').touched && studentForm.get('std').invalid">
              <small class="text-danger" *ngIf="studentForm.get('std').errors.required">
                Standard is required.
              </small>
              <small
                class="text-danger"
                *ngIf="studentForm.get('std').errors.pattern"
              >
                Standard must not start or end with a space.
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="file">Photo</label>
            <input
            type="file"
            id="file"
            formControlName="file"
            class="form-control"
            (change)="getFile($event)"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imageUrl" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="dob">Birth Date</label>
            <input
            type="date"
            id="dob"
            formControlName="dob"
            class="form-control">
            <div *ngIf="studentForm.get('dob').touched && studentForm.get('dob').invalid">
              <small class="text-danger" *ngIf="studentForm.get('dob').errors.required">
                Birth Date is required.
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!editMode">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="school">School</label>
            <select id="school"
            formControlName="school"
            class="form-control"
            style="overflow-y:scroll;">
              <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
            </select>
            <div *ngIf="studentForm.get('school').touched && studentForm.get('school').invalid">
              <small class="text-danger" *ngIf="studentForm.get('school').errors.required">
                School is required.
              </small>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
