.sorting-container {
  display: flex;
  align-items: center;
}
.sorting-bar {
  margin-right: 10px;
}
.search-btn {
    height: calc(100% - 4px);
    margin: 2px 0;
    line-height: 1;
  }
.arrow-up::after {
    content: '\25B2'; /* upward-pointing triangle */
  }
.arrow-down::after {
    content: '\25BC'; /* downward-pointing triangle */
  }
