<div>
  Total students: TotalStudents
</div>
<table>
  <thead>
    <tr>
      <th colspan="2">
        School Name - Total Students: 500
      </th>
    </tr>
    <tr>
      <th>Standard</th>
      <th>Student Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>100</td>
    </tr>
    <tr>
      <td>2</td>
      <td>120</td>
    </tr>
    <tr>
      <td>3</td>
      <td>80</td>
    </tr>
    <tr>
      <td>4</td>
      <td>100</td>
    </tr>
    <tr>
      <td>5</td>
      <td>100</td>
    </tr>
  </tbody>
</table>
