<div *ngIf="isAuthenticated == 'Admin'; else School">
  <h3>Total Student Count: {{totalStudCnt}}</h3>
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-xs-12">
          <form (ngSubmit)="change(f)" #f="ngForm">
          <label for="entries">Entries</label>
          <input type="text" id="entries" ngModel name="entries" placeholder="{{limit}} / page">
          <button type="submit">Submit</button>
          </form>
          <form (ngSubmit)="search(s)" #s="ngForm">
            <label for="search">Search:</label>
            <input type="text" id="search" ngModel name="search" placeholder="Search...">
            <button type="submit">Go</button>
          </form>
          <!-- <form (ngSubmit)="sort(sorting)" #sorting="ngForm">
            <div class="sorting-container">
              <div class="sorting-bar">
                <label for="sortBy">Sort by:</label>
                <select id="sortBy" name="sortBy" ngModel>
                  <option value="">-</option>
                  <option value="name">School Name</option>
                  <option value="count">Total Student Count</option>
                </select>
              </div>
              <div class="sorting-bar">
                <label for="sortOrder">Sort Order:</label>
                <select id="sortOrder" name="sortOrder" ngModel>
                  <option value="">-</option>
                  <option value="1">Ascending</option>
                  <option value="-1">Descending</option>
                </select>
              </div>
              <button type="submit" class="search-btn">Go</button>
            </div>
          </form> -->
          <!-- <label for="currentPage">Page No:-</label>
          <input type="text" id="currentPage" placeholder="{{pageNumber}}"> -->
          <table class="table">
            <thead>
              <tr>
                <th
                style="cursor: pointer;"
                (click)="sort('name')"
                [ngClass]="{'arrow-up': sortOrder === '-1', 'arrow-down': sortOrder === '1'}"
                >School Name
                </th>
                <th
                style="cursor: pointer;"
                (click)="sort('count')"
                [ngClass]="{'arrow-up': sortOrder === '-1', 'arrow-down': sortOrder === '1'}"
                >
                Total Student Count
                </th>
                <!-- <th>Email</th>
                <th>Address</th>
                <th>City</th>-->
                <th>Details</th>
              </tr>
            </thead>
            <tbody *ngIf="schools.length > 0; else NoData">
              <tr *ngFor="let school of schools; let i = index"
              [ngClass]="{'active': selectedIndex === i}"
              (click)="selectedIndex = i">
                <td>{{ school.name }}</td>
                <td>{{ school.count }}</td>
                <!-- <td>{{ school.email }}</td>
                <td>{{ school.address }}</td>
                <td>{{ school.city }}</td> -->
                <td><button [routerLink]='[i]'>View</button></td>
              </tr>
            </tbody>
            <ng-template #NoData>
              <p>End Of Data!</p>
            </ng-template>
          </table>
          <div style="display: flex; justify-content: center;">
            <nav>
              <ul class="pagination">
                <!-- <li [ngClass]="{disabled: pageNumber === 1}" class="page-item">
                  <a (click)="setPage(1)" class="page-link">First</a>
                </li> -->
                <li [ngClass]="{disabled: pageNumber === 1}" class="page-item">
                  <a (click)="decrease()" class="page-link" style="cursor: pointer;">Previous</a>
                </li>
                <li [ngClass]="{active: pageNumber === pageNumber}" class="page-item">
                  <a >{{ pageNumber }}</a>
                </li>
                <li [ngClass]="{disabled: this.schools.length == 0}" class="page-item">
                  <a (click)="increase()" class="page-link" style="cursor: pointer;">Next</a>
                </li>
                <!-- <li [ngClass]="{disabled: pageNumber === totalPages}" class="page-item">
                  <a (click)="setPage(totalPages)" class="page-link">Last</a>
                </li> -->
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #School>
  <h3>School name: {{school.name}} </h3>
  <h3>Total students: {{school.count}} </h3>
<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <thead>
            <tr>
              <th>Standard</th>
              <th>Student Count</th>
              <!-- <th>Email</th>
              <th>Address</th>
              <th>City</th>-->
              <!-- <th>Details</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of countResponse; let i = index"
            [ngClass]="{'active': selectedIndex === i}"
            (click)="selectedIndex = i">
              <td>{{ item._id }}</td>
              <td>{{ item.count }}</td>
              <!-- <td>{{ school.email }}</td>
              <td>{{ school.address }}</td>
              <td>{{ school.city }}</td> -->
              <!-- <td><button [routerLink]='[i]'>View</button></td> -->
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary" (click)="onUpdate()">Update Profile</button>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
</ng-template>
